Package: com.iosre.iosregreetings
Name: iOSREGreetings
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: venpled
Author: venpled
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 120
